.selected {
  background-color: gray;
}

.completed {
  text-decoration: line-through solid black;
}

body {
  background-color: rgb(3 , 107 , 82);
}

.button {
  border-radius: 45px;
  background-color: white;
  padding: 0.5em 3em;
  box-shadow: 0 8px 15px rgba(0 , 0 , 0 , 0.1);
  border: none;
}

#texto-tarefa {
  height: 28px;
  border-radius: 30px;
  border: none;
}
